<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mycss.css') }}" />
    {% endblock %}
</head>
<body>
    <h1>This is from the base template!</h1>
    {% block body %}{% endblock %}
</body>
</html>

<!--
parent layout

In addition to includes, there is another way of combining multiple files together, and this is called inheritance.

So basically you create something called a parent template.

And then the parent template will have sections inside of it where you can inject other child templates.

So let me start by creating this parent template.

Normally people call this base.

So base dot HTML.
-->